<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    name="site-bookkeeper-reporter"
    xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/PHPCSStandards/PHP_CodeSniffer/master/phpcs.xsd">

    <description>PHPCS configuration for site-bookkeeper-reporter.</description>

    <file>.</file>
    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>node_modules/*</exclude-pattern>
    <exclude-pattern>stubs/wp-cli-stubs.php</exclude-pattern>
    <exclude-pattern>stubs/wp-cli-utils-stubs.php</exclude-pattern>
    <exclude-pattern>.ddev/*</exclude-pattern>

    <arg name="extensions" value="php"/>

    <rule ref="Apermo"/>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="site-bookkeeper-reporter"/>
            </property>
        </properties>
    </rule>

    <!--
        Project prefix for global functions, hooks, constants,
        and namespace roots. E.g. prefix "Site_Bookkeeper_Reporter" allows
        namespace Site_Bookkeeper_Reporter\Admin but flags Other\Admin.
    -->
    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array">
                <element value="Apermo\SiteBookkeeperReporter"/>
                <element value="site_bookkeeper_reporter"/>
            </property>
        </properties>
        <!-- Test bootstrap uses standard WP test globals, not plugin globals. -->
        <exclude-pattern>tests/bootstrap.php</exclude-pattern>
    </rule>

    <config name="minimum_wp_version" value="6.2"/>
</ruleset>
