parameters:
    level: 6
    paths:
        - src
        - plugin.php
        - uninstall.php
    bootstrapFiles:
        - stubs/constants.php
        - stubs/wp-cli-stubs.php
        - stubs/wp-cli-utils-stubs.php
